<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::header"></head>
<body class="bg-light">
<nav th:replace="fragments/nav.html::nav(tab)"></nav>

<div class="container">
  <main>
      <div class="py-3 text-center">
            <h2>이메일 변경</h2>
      </div>


      <div class="row row-cols-sm-2">

          <div class="col-sm-5 mb-5 px-5 order-1">
              <div th:replace="fragments/my-page-sidebar.html::my-page-sidebar(side='email')"></div>
          </div>

          <div class="col-sm-7 mb-5 px-5 order-2" >
              <form class="email_form" th:object="${email}">

                  <div class="col-12 mt-1">
                    <label for="currentEmail" class="form-label" _msthash="2296580" _msttexthash="49286185">현재 이메일</label>
                    <input type="text" class="form-control" id="currentEmail" th:field="*{email}" disabled>
                  </div>


                  <div class="col-12 mt-3 mb-5">
                      <label for="email" class="form-label" _msthash="2296333" _msttexthash="29184064">변경하실 이메일</label>

                      <div class="input-group mb-3">
                          <input type="email" class="form-control" id="email" name="email"placeholder="변경할 이메일 입력" >
                          <button class="btn btn-outline-secondary" type="button" id="email_auth_number">인증번호 발송</button>
                      </div>

                      <input type="text" class="form-control" id="authCode" name="authCode" placeholder="인증번호를 입력해주세요" >
                      <div class="error text-danger" id="email_err"></div>

                  </div>

              </form>
          </div>

          <footer class="col-12 position-fixed w-100 bg-white p-3"style="bottom:0px; left:0px;">
                <button class="btn btn-primary w-100" id="modify_email">이메일 변경하기</button>
          </footer>
      </div>

  </main>
</div>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/member.js"></script>
</body>
</html>