<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::header"></head>
<body class="bg-light">
<nav th:replace="fragments/nav.html::nav(tab)"></nav>

<div class="container">
  <main>
      <div class="py-3 text-center">
            <h2>비밀번호 변경</h2>
      </div>


      <div class="row row-cols-sm-2">

          <div class="col-sm-5 mb-5 px-5 order-1">
              <div th:replace="fragments/my-page-sidebar.html::my-page-sidebar(side='password')"></div>
          </div>

          <div class="col-sm-7 mb-5 px-5 order-2" >
              <form class="password_form" >

                  <div class="col-12 mt-1">
                    <label for="password" class="form-label" _msthash="2296580" _msttexthash="49286185">새로운 비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="새로운 비밀번호를 입력해주세요" >
                      <div class="error text-danger" id="password_err"></div>
                  </div>


                  <div class="col-12 mt-1">
                    <label for="passwordConfirm" class="form-label" _msthash="2296333" _msttexthash="29184064">비밀번호 확인</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"  placeholder="비밀번호를 한 번 더 입력해주세요">
                    <div class="error text-danger" id="passwordConfirm_err"></div>
                  </div>
              </form>
          </div>

          <footer class="col-12 position-fixed w-100 bg-white p-3"style="bottom:0px; left:0px;">
                <button class="btn btn-primary w-100" id="modify_password">비밀번호 변경하기</button>
          </footer>
      </div>

  </main>
</div>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/member.js"></script>
</body>
</html>