<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="nav (tab)" class="navbar navbar-expand-sm navbar-light bg-light border-bottom w-100"  >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <input type="hidden" th:value="${#authentication.principal.member.id}" id="memberId">

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${tab eq 'footballBoard'} ? 'active'" th:href="@{/football-match-board/list}">팀/개인매치 글</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${tab eq 'footballSocialMatch'} ? 'active' " th:href="@{/football-social-match/list}">소셜매치</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/sign-up}">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/sign-in}">로그인</a>
                </li>
                <li class="nav-item" id="notification" sec:authorize="isAuthenticated()">
                    <a class="nav-link"><i class="fa fa-bell-o"></i></a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/main}"><i class="fa-solid fa-gear"></i></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                     <a class="nav-link" th:href="@{/my-page}"><i class="fa-regular fa-user"></i></a>
                </li>

            </ul>
        </div>

    </div>
<div th:replace="notification/notification.html::notification"></div>

<script type="text/javascript">
let memberId = $("#memberId").val();
let subscribeUrl = `http://localhost:9001/sub?id=${memberId}`;

        let eventSource = new EventSource(subscribeUrl);

        eventSource.addEventListener("addComment", function(event) {
            let message = event.data;
            alert(message);
        })

        eventSource.addEventListener("error", function(event) {
            eventSource.close()
        })


</script>
</nav>


</html>