<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>

<body class="bg-light" >
<nav th:replace="fragments/nav::nav(tab)"></nav>
    <div class="container ">
        <!--배너 부분-->
        <div class="row justify-content-center  ">
            <div id="carouselExampleIndicators" class="carousel slide bg-dark" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/img/none.png"  class="d-block w-50" style="margin:0 auto;" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/none.png"  class="d-block w-50" style="margin:0 auto;" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/none.png" class="d-block w-50" style="margin:0 auto;" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>


        <!--배너 부분-->
        <div class="row justify-content-center">
            <div class="col" style="max-width:600px">

            </div>
        </div>
    </div>

</body>
</html>