<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>YoonFootBall</title>
</head>

<body>
<div>
    <p>안녕하세요, YoonFootBall 인증 이메일입니다 </p>
    <h2 th:text="${title}">제목</h2>
    <h3 th:text="${content}">메시지</h3>

    <div>
        <small th:text="${authCode}">authCode</small>
    </div>
</div>

</body>
<body class="bg-light">
    <div class="container">
      <div class="card my-10">
        <div class="card-body">
          <h1 class="h3 mb-2">안녕하세요, YoonFootBall 이메일입니다 </h1>
          <h5 class="text-teal-700" th:text="${title}">제목</h5>
          <hr>
          <div class="space-y-3">
            <p class="text-gray-700" th:text="${content}">메시지</p>
            <p class="text-gray-700" th:text="${authCode}">인증번호</p>
        </div>
      </div>
    </div>
  </body>
</html>